<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') %>
  </head>
  <body>
    <%- include('header.ejs') %>
    <%- include('mobileheader.ejs') %>
    <main>
      <img src="../images/500Error.svg" alt="404" width="300px" height="300px">
      <h1>😢Serve Erorr😢</h1>
    </main>
  </body>
</html>